$log-color-border: yellow;
$log-color-text: $log-color-border;

.search {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  form {
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    border: 3px solid #39cccc;

    * {
      border: none;
      color: #fff;
      background: #000;

      img {
        height: auto;
        height: 20px;
      }
    }

    button {
      padding: .5rem;
    } 

    input {
      padding: 0 0.5rem;
      font-size: 1rem;
    }
  }
}

main {
  overflow: auto;
  height: auto;
}

.log {
  border: $log-color-border 5px solid;
  padding: 1rem 2rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin: 3rem auto auto auto;
  max-width: 15rem;
  position: relative;

  h2 {
    color: $log-color-text;
    margin: 1rem auto;
    font-size: 1.3rem;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .log_remove {
    position: absolute;
    right: 1rem;
    top: 1rem;
    background: none;
    border: 1px solid #ff4136;
    color: #ff4136;
    cursor: pointer;

    &:hover {
      background: rgba(255, 65, 54, 0.3);
    }
  }

  .log_date {
    margin-bottom: 0.5rem;
    color: #aaa;
  }
}
